<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Seven Apex is the Biggest Web Development and Brand Mangement Agency in Nigeria</title>
    <meta name="description" content="The Seven Apex is a top Web Development agency in Nigeria that builds website for businesses and individuals and manage their brand designs">
    <meta property="og:description" content="The Seven Apex is a top Web Development agency in Nigeria that builds website for businesses and individuals and manage their brand designs">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- seo meta tags plus favicion -->
    <%= require('./repetitive/seo-tags.js') %>
    <!-- ######## -->
    <style>
        @font-face {
            font-family: 'orbitron';
            src: url('./assets/fonts/orbitron-variablefont_wght-webfont.woff2') format('woff2'),
            url('./assets/fonts/orbitron-variablefont_wght-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

    </style>
</head>
<body>
     <!-- preloader feature -->
     <%= require('./repetitive/preloader.js') %>
     <!-- ###### -->
    <!-- this here is the nav -->
    <%= require('./repetitive/nav') %>
    <!-- ###### -->
    <section id="first_view" class="about ">
           
        <div class="button_position" data-aos="flip-right">
            <a class="button" href="https://wa.me/message/EGWYLEIIIRY6I1" > Get in touch</a>
        </div>
        <h2 class="nav-header orbitron">
            About us
        </h2>
        <div class="content">
            <h1 class="orbitron"> Hi there, we are the 7 Apex</h1>
            <p class="info greendot">
                 we are more than just a collection of talented NYSC core members; we are a team of passionate individuals committed to leveraging technology for positive social change. Our diverse skill set, coupled with the enthusiasm of youth, enables us to design and develop cutting-edge solutions tailored to the unique needs of our clients.
            </p>
        </div>
    </section>

    <section id="more" class="about">
        <div>
            <h2 class="big_t">
                Our Approach tells the story of our value.
            </h2>
            <h3 class="info greendot">
                we believe in a collaborative and client-centric approach that goes beyond the conventional. Our commitment is not just to deliver websites and applications but to create transformative digital solutions tailored to the distinct needs of schools and small businesses in Nigeria.
            </h3>
            <div class="code_design">
                <img src="./assets/images/code-design.png" alt="" srcset="">
            </div>
        </div>
    </section>

    <section id="more2" class="bg-white">
        <div>
            <h2 class="big_t" data-aos="fade-in">
              We build web solutions that tell a brand story.
            </h2>
            <h3 class="info greendot">
                We develop web and mobile products with amazing interfaces and well-thought digital design concepts.
                 We look into products in a broader sense: bigger, more efficient, focused on the user.
            </h3>
            <div class="code_design">
                <img src="./assets/images/solutions.png" alt="" srcset="">
            </div>
            <div>
                <h2 class="orbitron mb-2"> Our capability</h2>
                <p class="greendot"> Brand Management</p>
                <p class="greendot">Front-end Development</p>
                <p class="greendot">Back-end Development</p>
                <p class="greendot"> UI/UX design</p>
            </div>
        </div>
    </section>

    <section id="values" class="about">
            <h2 class="orbitron big_t"> Our values</h2>
           <ul class="grid-box mt-2">
                <!-- values box -->
                <%= require('./repetitive/values')%>
            <!-- ###### -->
           </ul>
    </section>

    <section id="faces">
        <h2 class="big_t">
            Faces behind the 7Apex
          </h2>
        <ul class="agents">
            <li data-aos="fade-up"> <img src="./assets/images/jessy-400x500.png" alt="Jessy" srcset="">
                <div><h3 class="orbitron">Jessy</h3>
                    <p>Backend Dev</p>
                </div>
            </li>
            <li data-aos="fade-up"> <img src="./assets/images/jessy-400x500.png" alt="Jessy" srcset="">
                <div><h3 class="orbitron">Jessy</h3>
                    <p>Backend Dev</p>
                </div>
            </li>
            <li data-aos="fade-up"> <img src="./assets/images/jessy-400x500.png" alt="Jessy" srcset="">
                <div><h3 class="orbitron">Jessy</h3>
                    <p>Backend Dev</p>
                </div>
            </li>
     
        </ul>
    </section>

    <!-- contact us form -->
    <%= require('./repetitive/contactform') %>
    <!-- ######## -->

      <!-- footer section -->
      <%=require('./repetitive/footer') %>
      <!-- ###### -->   
      
</body>
</html>