<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Seven Apex is the Biggest Web Development and Brand Mangement Agency in Nigeria</title>
    <meta name="description" content="The Seven Apex is a top Web Development agency in Nigeria that builds website for businesses and individuals and manage their brand designs">
    <meta property="og:description" content="The Seven Apex is a top Web Development agency in Nigeria that builds website for businesses and individuals and manage their brand designs">
    <!-- seo meta tags plus favicion -->
    <%= require('./repetitive/seo-tags.js') %>
    <!-- ######## -->
    <style>
        @font-face {
            font-family: 'orbitron';
            src: url('./assets/fonts/orbitron-variablefont_wght-webfont.woff2') format('woff2'),
            url('./assets/fonts/orbitron-variablefont_wght-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

    </style>
</head>
<body>
     <!-- preloader feature -->
     <%= require('./repetitive/preloader.js') %>
     <!-- ###### -->
    <!-- this here is the nav -->
    <%= require('./repetitive/nav') %>
    <!-- ###### -->
    <section id="first_view" class="about ">
           
        <div class="button_position">
            <a class="button" href="https://wa.me/message/EGWYLEIIIRY6I1"> Get in touch</a>
        </div>
        <h2 class="nav-header orbitron">
            About us
        </h2>
        <div class="content">
            <h1 class="orbitron"> Hi there, we are the 7 Apex</h1>
            <p class="info greendot">
                we are a fullstack web development and design company,
                with experience managing business brands, helping businesses
                reach their wider audience and creating a brand image that resonates well with their targets.
            </p>
        </div>
    </section>

    <section id="more" class="about">
        <div>
            <h2 class="big_t">
                Our Approach tells the story of our value.
            </h2>
            <h3 class="info greendot">
                we are a fullstack web development and design company,
                with experience managing business brands, helping businesses
                reach their wider audience and creating a brand image that resonates well with their targets.
            </h3>
            <div class="code_design">
                <img src="./assets/images/code-design.png" alt="" srcset="">
            </div>
        </div>
    </section>
    <section id="more2" class="bg-white">
        <div>
            <h2 class="big_t">
              We build web solutions that tell a brand story.
            </h2>
            <h3 class="info greendot">
                We develop web and mobile products with amazing interfaces and well-thought digital design concepts.
                 We look into products in a broader sense: bigger, more efficient, focused on the user.

            </h3>
            <div class="code_design">
                <img src="./assets/images/solutions.png" alt="" srcset="">
            </div>
            <div>
                <h2 class="orbitron mb-2"> Our capability</h2>
                <p class="greendot"> Brand Management</p>
                <p class="greendot">Front-end Development</p>
                <p class="greendot">Back-end Development</p>
                <p class="greendot"> UI/UX design</p>
            </div>
        </div>
    </section>

    <section id="values" class="about">
            <h2 class="orbitron big_t"> Our values</h2>
           <ul class="grid-box mt-2">
                <!-- values box -->
                <%= require('./repetitive/values')%>
            <!-- ###### -->
           </ul>
    </section>

    <!-- contact us form -->
    <%= require('./repetitive/contactform') %>
    <!-- ######## -->

      <!-- footer section -->
      <%=require('./repetitive/footer') %>
      <!-- ###### -->
</body>
</html>