<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> The seven apex | We Build website and Manage Business brands designs</title>
    <!-- <link rel="stylesheet" href="./dist/css/style.css"> -->
    <meta name="description" content="The Seven Apex is a top Web Development agency in Nigeria that builds website for businesses and individuals">
    <meta property="og:description" content="The Seven Apex, we build website for businesses and individuals and we manage brand designs">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- seo meta tags plus favicion -->
    <%= require('./repetitive/seo-tags.js') %>
    <!-- ######## -->

    <!-- this is the reviews carousel link, disabled for now -->
      <!-- Link Swiper's CSS -->
      <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    /> -->
    <style>
        @font-face {
    font-family: 'orbitron';
    src: url('./assets/fonts/orbitron-variablefont_wght-webfont.woff2') format('woff2'),
         url('./assets/fonts/orbitron-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.swiper {
        width: 100%;
        height: 100%;
        max-width: 1000px;
        padding: 1rem 0px;
      }

.swiper-wrapper{
    display: flex;
    align-items: center;
}
    </style>
</head>
<body style="position: relative;">
    <%= require('./repetitive/preloader.js') %>
    <div id="body_cover">
        <!-- this here is the nav -->
        <%= require('./repetitive/nav') %>
        <!-- ###### -->

        <section id="first_view">
           
            <div class="button_position" data-aos="flip-right">
                <a class="button" href="https://wa.me/message/EGWYLEIIIRY6I1"> Get in touch</a>
            </div>
            <div class="content orbitron">
                <h1 data-aos="fade-in" data-aos-delay="200"> 7 APEX Studio</h1>
                <p data-aos-id="duper" data-aos="fade-down" class="paragraph" data-aos-delay="800" class="paragraph">
                    At The Seven Apex, we believe in the power of technology to drive positive change in the world. Founded by a group of NYSC corps members, we are a Non-profit organization, on a mission to bridge the digital divide in education. Our team is committed to creating and deploying innovative web applications that can revolutionize the way schools operate.
                </p>
            </div>
        </section>
        <section id="forth_view">
            <h2 class="mb-2 big_t" data-aos="fade-left" data-aos-delay="400"> Who Are we ?</h2>
            <p data-aos="fade-in" data-aos-delay="650" class="paragraph">
                We are a dedicated group of National Youth Service Corps (NYSC) members who share a common vision for empowering schools and small businesses in Nigeria. <br>
                <b>Our mission is simple :</b> as part of our Community Development Service (CDS) we have decided to offer our services Free of charge to our clients, as we all have a common goal of gaining experience through these projects and being job ready for the nigerian job market by the end of our service, while providing value to the community.
            </p>
        </section>
        <section id="third_view">
            <div class="button_position" data-aos="flip-left">
                <a class="button" href="https://wa.me/message/EGWYLEIIIRY6I1" > Get in touch</a>
            </div>
            <div class="content">
                <h2 class="title my-2"> Our Services</h2>
                <div class="services" >
                 <!-- services inport -->
                 <%= require('./repetitive/services.js') %>
                 <!-- #### -->  
                </div>
                    
            </div>
        </section>

        
        <section id="our_approach">
            <div class="ms-800px-mn_900">
                <h2 class="title my-1"> Our Approach</h2>
                <div class="paragraph">
                    What sets us apart is our collaborative approach. We work closely with schools and small businesses, taking the time to understand their goals and challenges. Through open communication and continuous feedback, we ensure that the solutions we provide not only meet but exceed expectations.
                </div>
                <h2 class="title my-1"> Why work with us </h2>
                <div class="paragraph mw-800">
                    <p class="greendot">Youthful Innovation: Our team consists of NYSC core members, bringing fresh perspectives and innovative ideas to the table.</p>
                    <p class="greendot">Social Impact: 7Apex is driven by a sense of responsibility to contribute meaningfully to the development of education and commerce in Nigeria.</p>
                    <p class="greendot">Tailored Solutions: We understand that one size does not fit all. Our solutions are customized to suit the unique requirements of each client.</p>
                </div>
            </div>
        </section>

        <section id="mission">
            <div class="mw_800px">
                <h2 class="title my-1"> Our Vission</h2>
                <div class="paragraph mb-2">
                    At 7Apex, our vision is clear: to bridge the digital divide by providing schools and small businesses in Nigeria with bespoke websites and applications. We firmly believe that an online presence is not a luxury but a necessity in today's interconnected world. By offering our technical expertise, we aim to catalyze growth, enhance visibility, and foster efficiency for those who form the backbone of our communities.
                </div>
            </div>
        </section>

        <section id="sec_view">
            <h2 class="title my-1"> Our Clients</h2>

            <div class="cases_flex">
                <!--  card casees -->
               <%= require('./repetitive/cases.js') %>
               <!--  card end -->
            </div>
            <!-- <a href="./expertise.html#sec_view" target="_blank" class="button" id="morecases">
                see more cases
            </a> -->
        </section>

<!-- ####### Reviews ending ####### -->
        <section id="sixth_view">
            <div class="button_position" data-aos="flip-right">
                <a href="https://wa.me/message/EGWYLEIIIRY6I1" class="button" > Get in touch </a>
            </div>
            <h2 class="my-2 title"> Our blogs</h2>
            <div class="blogs mt-1" >
                <!-- blogs section -->
                <%= require('./repetitive/getBlogs.js') %>
                <!-- blogs section end -->
            </div>
            <a href="./blogs.html" class="button nd">
                View all blog posts
            </a>
        </section>
        <section id="donate_view">
            <h2 class="title my-1 " style="text-align: center;"> Donate to Our cause</h2>
          
            <div target="_blank" class="button" id="support">
                <span class="bt_context">
                    Support us.
                </span>
                <span class="bt_info" style="font-size: 20px; cursor: default;">
                        Azuka Chukwuebuka Stanley <br>
                        Kuda Bank <br>
                        2016970379
                </span>
            </div>
        </section>

        <!-- footer section -->
        <%=require('./repetitive/footer') %>
        <!-- ###### -->
    </div>
   <!-- Swiper JS -->
   <!-- <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

  //- Initialize Swiper 
   <script>
     var swiper = new Swiper(".mySwiper", {
       navigation: {
         nextEl: ".swiper-button-next",
         prevEl: ".swiper-button-prev",
       },
     });
   </script> -->
</body>
</html>