<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> The seven apex | We Build website and Manage Business brands designs</title>
    <!-- <link rel="stylesheet" href="./dist/css/style.css"> -->
    <meta name="description" content="The Seven Apex is a top Web Development agency in Nigeria that builds website for businesses and individuals">
    <meta property="og:description" content="The Seven Apex, we build website for businesses and individuals and we manage brand designs">
    <!-- seo meta tags plus favicion -->
    <%= require('./repetitive/seo-tags.js') %>
    <!-- ######## -->

    <!-- this is the reviews carousel link, disabled for now -->
      <!-- Link Swiper's CSS -->
      <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    /> -->
    <style>
        @font-face {
    font-family: 'orbitron';
    src: url('./assets/fonts/orbitron-variablefont_wght-webfont.woff2') format('woff2'),
         url('./assets/fonts/orbitron-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.swiper {
        width: 100%;
        height: 100%;
        max-width: 1000px;
        padding: 1rem 0px;
      }

.swiper-wrapper{
    display: flex;
    align-items: center;
}
    </style>
</head>
<body style="position: relative;">
    <%= require('./repetitive/preloader.js') %>
    <div id="body_cover">
        <!-- this here is the nav -->
        <%= require('./repetitive/nav') %>
        <!-- ###### -->

        <section id="first_view">
           
            <div class="button_position">
                <a class="button" href="https://wa.me/message/EGWYLEIIIRY6I1"> Get in touch</a>
            </div>
            <div class="content orbitron">
                <h1> 7 APEX Studio</h1>
                <p>
                    Our services has a proven record of <span style="color: #198754;">83%</span> increase in business reach,
                     turnover and commensurate profit. We are driven by a desire to give clients 
                     maximum value for their branding investments,
                     helping their businesses reach its full potential as a result.
                </p>
            </div>
        </section>
        <section id="forth_view">
            <h2 class="mb-2 big_t"> Who Are we ?</h2>
            <p>
                We are The Seven Apex. <br>
                A team of highly skilled creative developers, 
                who offer solutions that give businesses online
                presence and create a future-proof brand identity,
                thereby increasing their reach and appeal
                respectivelyely.
            </p>
        </section>
        <section id="third_view">
            <div class="button_position">
                <a class="button" href="https://wa.me/message/EGWYLEIIIRY6I1"> Get in touch</a>
            </div>
            <div class="content">
                <h2 class="title my-2"> Our Services</h2>
                <div class="services">
                 <!-- services inport -->
                 <%= require('./repetitive/services.js') %>
                 <!-- #### -->
                </div>
                    
            </div>
        </section>
        <section id="sec_view">
            <h2 class="title my-1"> Our Cases</h2>

            <div class="cases_flex">
                <!--  card casees -->
               <%= require('./repetitive/cases.js') %>
               <!--  card end -->
            </div>
            <a href="./expertise.html#sec_view" target="_blank" class="button" id="morecases">
                see more cases
            </a>
        </section>
<!-- section for Reviewws... muted this plus the carousel link and styles -->
<!--         
        <section id="fifth_view">
            <h2 class="mb-1 title"> What are our clients saying?</h2>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper ">
                  <div class="swiper-slide">
                        <div class="customer">
                         <div>
                            <img src="./assets/images/school.png" alt="" srcset="">
                            <div class="user">
                                <p> CNJOEONP</p>
                                <p> CNONUEUPN </p>
                            </div>
                         </div>
                            <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias harum dolorem quia, perferendis pariatur reprehenderit saepe nihil sapiente tempora commodi!</p>
                        </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="customer">
                     <div>
                        <img src="./assets/images/school.png" alt="" srcset="">
                        <div class="user">
                            <p> CNJOEONP</p>
                            <p> CNONUEUPN </p>
                        </div>
                     </div>
                        <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias harum dolorem quia, perferendis pariatur reprehenderit saepe nihil sapiente tempora commodi!</p>
                    </div>
              </div>
              <div class="swiper-slide">
                <div class="customer">
                 <div>
                    <img src="./assets/images/school.png" alt="" srcset="">
                    <div class="user">
                        <p> CNJOEONP</p>
                        <p> CNONUEUPN </p>
                    </div>
                 </div>
                    <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias harum dolorem quia, perferendis pariatur reprehenderit saepe nihil sapiente tempora commodi!</p>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="customer">
             <div>
                <img src="./assets/images/school.png" alt="" srcset="">
                <div class="user">
                    <p> CNJOEONP</p>
                    <p> CNONUEUPN </p>
                </div>
             </div>
                <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias harum dolorem quia, perferendis pariatur reprehenderit saepe nihil sapiente tempora commodi!</p>
            </div>
        </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
        </section> -->
<!-- ####### Reviews ending ####### -->
        <section id="sixth_view">
            <div class="button_position">
                <a href="https://wa.me/message/EGWYLEIIIRY6I1" class="button"> Get in touch </a>
            </div>
            <h2 class="my-2 title"> Our blogs</h2>
            <div class="blogs mt-1">
                <!-- blogs section -->
                <%= require('./repetitive/getBlogs.js') %>
                <!-- blogs section end -->
            </div>
            <a href="./blogs.html" class="button nd">
                View more blog post
            </a>
        </section>

        <!-- footer section -->
        <%=require('./repetitive/footer') %>
        <!-- ###### -->
    </div>
   <!-- Swiper JS -->
   <!-- <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

  //- Initialize Swiper 
   <script>
     var swiper = new Swiper(".mySwiper", {
       navigation: {
         nextEl: ".swiper-button-next",
         prevEl: ".swiper-button-prev",
       },
     });
   </script> -->
</body>
</html>